/* Variables {{{*/

$domaine: 'DomaineSansTextTest-Light' /*local*/, 'DomaineSansText', -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
$text: 300;
$fett: 500;

$input: 'InputSansNarrow', monospace;
/* Input gibts 500, 300 und 200 */

$section-margin: 3rem;

/* Alles viel zu kompliziert, oder? */
$baseCol: 0;
$contrast: ($baseCol + 90) % 360;
$bg: ($baseCol - 160);
$col: hsl($baseCol, 100%, 0%);
$headCol: hsl(25, 0%, 0%); 
$accent: hsl($contrast, 80%, 40%);
$background: hsl($bg, 15%, 100%);
$backgroundLight: hsl($bg, 15%, 90%);

// neu august 19

$baseCol: 210;

$bg:      hsl($baseCol, 0%, 96%);
$form-bg: hsl($baseCol, 0%, 90%);
$line-color: hsl($baseCol, 0%, 70%);
$form-bg-active: hsl($baseCol, 20%, 90%);
$information-bg: hsl($baseCol, 0%, 90%);

$link-passive: hsl(250, 80%, 60%);
$link-active: hsl(250, 100%, 50%);

/* Variables }}}*/

/* Root/Body {{{*/
:root {
  font-family: $domaine;
  font-weight: $text;
  font-size: 100%;
  line-height: 1.3;
  font-variant-numeric: oldStyle-nums;
  text-align: center;
  // font-variant-numeric: tabular-nums;
}

*, html { box-sizing: border-box; }

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1rem 0.5rem 0;
}
/* Root/Body }}}*/

/* Font Sizes {{{*/

h1 {
  font-size: 1.25rem;
  line-height: 1;
}

// .auction-details p { font-size: 0.875rem; }

#user-info h4,
form label { font-size: 0.75rem; }

footer .credits { font-size: 0.6875rem; }

/* Font Sizes }}}*/

/* Font Styles {{{*/

h1 { font-variant-caps: all-small-caps; }

h1, h2, h3, strong { font-weight: $fett; }

p, li, figcaption { font-weight: 300; }

.box-button,
p.button {
  font-family: $input;
  text-align: center;
}

#user-info h4,
form label { 
  font-family: $input;
  text-transform: uppercase;
  letter-spacing: 0.0625rem;
}

form label { text-align: left; }

.currency,
.smallcaps { font-variant-caps: all-small-caps; }

footer .credits {
  font-family: $input; 
  font-weight: 300;
} 

em { color: red; } // wo gibts das?

/* Font Styles }}}/*

/* Layout {{{*/

/* White Space {{{2*/
  
h2, h3, h5, p, figcaption { margin: 0 0 1rem; }


// .auction-details p { margin-bottom: 0.75rem; }

header { margin: 2.25rem auto 2.5rem; }

main { margin: 0 1rem $section-margin ; }

main img { margin-bottom: 1rem; }

#user-info h4 { margin-bottom: 0.125rem; }

/* White Space }}}2*/

header, main { width: 100%; }

nav { display: none; } /* Navigation, only for dev */

main img { max-width: 100%; }

.auction-details p { white-space: nowrap; }

/* Bieten Formular {{{2*/
section#bid-ui {
  background: $form-bg;
  border-radius: 0.25rem;
  padding: 1rem 1rem 1.25rem;
  div#user-info {
    padding-bottom: 0.75rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid $line-color;
    h4 { font-family: $input; }
    #username {}
  }
  form {
    display: flex;
    flex-direction: column;
    background: transparent;
    margin-bottom: 2rem;
    padding: 1rem 0 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    label {
      font-family: $domaine;
      font-size: 1rem;
      text-align: center;
      text-transform: none;
      display: block;
      margin-bottom: 0.5rem;
      letter-spacing: 0;
    }
    input { 
      margin: auto 0 auto auto;
      padding: 0.25rem;
      text-align: center;
      min-width: 5ch;
      max-width: 6ch;
    }
    button { 
      font-size: 1rem;
      font-weight: $text;
      width: max-content;
      margin: auto auto auto 1rem;
    }
  }
  div#instant-buy {
    #instant-buy-info { margin-bottom: 0.5rem; }
    #instant-buy-button {}
  }
  div#register-login {
    p { margin-bottom: 0.5rem; }
    #login, #register {
      width: max-content;
      margin: 0 auto 2rem;
    }
    #register {
      margin-bottom: 0;
    }

  }
}
/* Bieten Formular }}}2*/


div#register-login { // Anmelde-Buttons auf /index
}
footer section { margin: 0 auto $section-margin; }

/* Layout }}}*/

/* Links {{{*/

a { text-decoration: none; }

/* Links }}}*/

/* Colors {{{*/

body {
  background: whitesmoke;
  color: black;
}

a,
a:link,
a:visited { color: $link-passive; }

a:focus,
a:hover { color: $link-active; }

header, footer {
    a:link,
    a:visited { color: black; }

    a:hover,
    a:focus,
    a:active { color: $link-active; }
}


a.newsletter-signup {
  color: black;
  background: hsl(150, 80%, 65%);
}

a.newsletter-signup:hover {
  color: black;
  background: hsl(150, 100%, 60%);
}

.contact-instagram-link:hover {
  svg {
    path { fill: hsl(240, 100%, 75%); }
  }
}

.box-button {
  background: hsl(150, 80%, 65%);
  a { color: black; }
}

.box-button:hover,
#image-container p#auction-button:hover {
  background:  hsl(150, 100%, 60%);
  a { color: black; }
}

form { background: $form-bg; }

form:focus-within { background: $form-bg-active; }

/* Colors }}}*/

/* Lists {{{1*/

main ul { 
  margin: 0 0 1rem;
  padding-left: 0;
  list-style-position: inside;
  li {padding-left: 0.3rem;}
}

/* Lists }}}1*/

/* Buttons {{{1*/

#image-container {
  position: relative;
  padding:0;
  p#auction-button {
    position: absolute;
    transform: rotate(-8deg);
    bottom: -0.5rem;
    left: 5%;
  }
  p#auction-button:hover { transform: rotate(-15deg) scale(1.1); }
}

p.button {
  display: inline-block;
  border-radius: 1rem;
  // margin: 1rem auto; // stört bei #register-login
  padding: .3rem 1rem .5rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

p.button:hover { transform: scale(1.1); }

a.newsletter-signup {
  font-family: $input;
  font-weight: 300;
  display: flex;
  margin: 0 auto 2rem;
  width: 9.5rem;
  height: 9.5rem;
  border-radius: 4.75rem;
  transform-origin: center center;
  transform: rotate(-12deg);
  transition: all 0.2s ease-in-out;
  p {
    transform: translateY(-0.0625rem);
    display: inline-block;
    margin: auto;
  }
}

a.newsletter-signup:hover { transform: scale(1.1) rotate(-15deg); }

.contact-instagram-link {
  svg {
    transform: scale(1);
    transition: all 0.2s ease-in-out;
    path {
      transition: all 0.2s ease-in-out;
    }
  }
}

.contact-instagram-link:hover {
  svg { transform: scale(1.1); } 
}

/* Buttons }}}1*/

/* bisher … {{{1*/

.username { text-transform: capitalize; }
.top-secret,
.error-message { color: $accent; }

/* Layout Basics (Mobile) */

main section {
  text-align: center;
  margin-bottom: 1.5em;
  p { margin-bottom: 0; }
}

section#login { margin-bottom: 2em; }

.box-button {
  /* wie francoisenussbaumer.ch */
  display: inline-block;
  border: none;
  border-radius: 1rem;
  // margin: 1rem auto;
  padding: .3rem 1rem .5rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.box-button:hover { transform: scale(1.1); }
  /* wie francoisenussbaumer.ch */

ul {
  list-style: none;
  margin: 0; padding: 0;
}

dd { margin: 0 0 0.5em 0; }

img {
  width: 100%;
  max-width: 600px;
  height: auto;
}

form {
  display: inline-block; /* damit es nicht die gesamte Breite überspannt*/
  padding: 1rem;
  border-radius: 0.25rem;
}

form input {
  box-sizing: border-box;
  font-family: $domaine;
  font-size: 1em;
  font-weight: $text;
  display: block;
  /* Styles für Browser ohne Grid support */
  margin: 0 auto;
  margin-bottom: 0.25em;
}


form input[type='password'],
form input[type='text'],
form input[type='email'],
form input[type='textarea'] {
  box-sizing: border-box;
  /* Neu August 19 */
  font-family: $input;
  font-size: 0.7rem;
  padding: 0.25rem;
}

form input[type='text'],
form input[type='email'],
form input[type='password'],
form input[type='textarea'] {
}

/*
form button {
  background: transparent;
  cursor: pointer;
  color: $col;
  // margin-top: 0;
}
august 19:  scheint irrelevant

form input[type='submit'] {
  margin-top: 2em;
  font-size: 1em;
}
*/

form#delete-form { width: 100%; }
form#delete-form button { display: block; }

/* GRID */
@supports ( display: grid ) {
  dt,
  dd { margin: 0; padding: 0;} /* Keine Abstände in Aufzählungen, weil meist (immer?) display: grid */

  /* Anmelden {{{2*/
  section#login,
  section#register,
  section#registration {
    display: grid;
    grid-template-columns: 1fr minmax(auto, 400px) 1fr;
    // sollte auf mobile (375px) gleich 100% sein,
    // aber könnte trotzdem mal einspaltig überarbeitet werden, eher sinnlos.
  }

  section#login,
  section#register,
  section#registration {

    /* Einmitten */
    h2, p, form {
      grid-column: 2;
      width: 100%;
      margin: 0 0 1rem;;
      justify-self: center;
    }

    form { // login, register, registration
      display: grid;
      grid-template-columns: 1fr;

      label { text-align: left; }

      input {
        width: 100%;
        margin-bottom: 1rem;
      }

      input[type='submit'] {
        margin: 1rem auto 0;
        width: auto; // keine ellenlangen Knöpfe
      }

    } /* End Form */  // login, register, registration

 } /* End Section Login/Register/Registration }}}2*/

  /* Bild erfassen */
  form#article-create-form {
    display: grid;
    grid-template-columns: 1fr auto auto 1fr;
    justify-items: stretch;
    grid-gap: 0.25em;
  }
  form#article-create-form label {
    grid-column: 2;
    align-self: center;
  }
  form#article-create-form input {
    grid-column: 3;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  /* Administration: Bild-Details*/
  dl#admin-details {
    margin-top: 2em;
    display: grid;
    grid-template-columns: 1fr auto auto 1fr;
    grid-gap: 0.25em;
  }
  dl#admin-details dt,
  dl#admin-details dd { margin: 0; padding: 0; }
  dl#admin-details dt {
    grid-column: 2;
    justify-self: end;
  }
  dl#admin-details dd {
    grid-column: 3;
    justify-self: start;
  }

  /* Administration: Auflistung Bilder und User */
  ul#admin-user-list,
  ul#admin-article-list {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-gap: 0.25em;
  }
  ul#admin-user-list li,
  ul#admin-article-list li {
    margin: 0; padding: 0;
    grid-column: 2;
  }
  ul#admin-user-list li:before,
  ul#admin-article-list li:before {
    content: '– ';
  }

  /* Administration: Gebote (und Details User) */
  dl#admin-bid-list,
  dl#admin-bid-details,
  dl#admin-bid-delete,
  dl#admin-user-details {
    display: grid;
    grid-template-columns: 1fr auto auto 1fr;
    grid-gap: 0.25em;
  }
  dl#admin-bid-list dt,
  dl#admin-bid-details dt,
  dl#admin-bid-delete dt,
  dl#admin-user-details dt {
    grid-column: 2;
  }
  dl#admin-bid-list dd,
  dl#admin-bid-details dd,
  dl#admin-bid-delete dd,
  dl#admin-user-details dd{
    grid-column: 3;
  }
  dl#admin-bid-details dt,
  dl#admin-bid-delete dt,
  dl#admin-user-details dt { justify-self: end; }
  dl#admin-bid-details dd,
  dl#admin-bid-delete dd,
  dl#admin-user-details dd { justify-self: start; }
} /**/

/* Media Queries */

@media (min-width: 500px) {

  /* Desktop Text Sizes {{{2*/
  
  /* august 19 */
  :root { font-size: 125%; }
  h1 { font-size: 1.8rem; }
  header { margin-bottom: 2em;}
  #user-info h4,
  form label { font-size: 0.5rem; }
  /* august 19 */
  
  /* Desktop Text Sizes }}}2*/

  /* Layout {{{2*/
  
  body { padding: 1rem 3rem 0; }
  main { max-width: 40rem; }
  main #content,
  footer {
    max-width: 32rem;
    padding: 0;
  }

  main section#bid-ui {
    max-width: 25rem;
    margin: 0 auto 1.5rem;
  }

  footer section { margin: 0 auto $section-margin; }


  /* Layout }}}2*/

}

/* bisher … }}}1*/
