@charset "UTF-8";
/* Variables {{{*/
/* Input gibts 500, 300 und 200 */
/* Alles viel zu kompliziert, oder? */
/* Variables }}}*/
/* Root/Body {{{*/
:root {
  font-family: "DomaineSansText", "DomaineSansTextTest-Light", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 300;
  font-size: 100%;
  line-height: 1.3;
  font-variant-numeric: oldStyle-nums;
  text-align: center; }

*, html {
  box-sizing: border-box; }

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1rem 0.5rem 0; }

/* Root/Body }}}*/
/* Font Sizes {{{*/
h1 {
  font-size: 1.25rem;
  line-height: 1; }

#user-info h4,
form label {
  font-size: 0.75rem; }

footer .credits {
  font-size: 0.6875rem; }

/* Font Sizes }}}*/
/* Font Styles {{{*/
h1 {
  font-variant-caps: all-small-caps; }

h1, h2, h3, strong {
  font-weight: 500; }

p, li, figcaption {
  font-weight: 300; }

.box-button,
p.button {
  font-family: "InputSansNarrow", monospace;
  text-align: center; }

#user-info h4,
form label {
  font-family: "InputSansNarrow", monospace;
  text-transform: uppercase;
  letter-spacing: 0.0625rem; }

form label {
  text-align: left;
  margin-bottom: 0.25rem; }

.currency,
.smallcaps {
  font-variant-caps: all-small-caps; }

footer .credits {
  font-family: "InputSansNarrow", monospace;
  font-weight: 300; }

em {
  color: red; }

/* Font Styles }}}/*

/* Layout {{{*/
/* White Space {{{2*/
h2, h3, h5, p, figcaption {
  margin: 0 0 1rem; }

#title,
#description {
  margin-bottom: 1rem; }

header {
  margin: 2.25rem auto 2.5rem; }

main {
  margin: 0 1rem 3rem; }

main img {
  margin-bottom: 1rem; }

#user-info h4 {
  margin-bottom: 0.125rem; }

/* White Space }}}2*/
header, main {
  width: 100%; }

nav {
  display: none; }

/* Navigation, only for dev */
main img {
  max-width: 100%; }

.auction-details p {
  white-space: nowrap; }

/* Bieten Formular {{{2*/
section#bid-ui {
  border-radius: 0.25rem;
  padding: 1rem 1rem 1.25rem; }
  section#bid-ui div#user-info {
    padding-bottom: 0.75rem;
    margin-bottom: 1rem; }
    section#bid-ui div#user-info h4 {
      font-family: "InputSansNarrow", monospace; }
  section#bid-ui form {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    padding: 1rem 0 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; }
    section#bid-ui form label {
      font-family: "DomaineSansText", "DomaineSansTextTest-Light", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
      font-size: 1rem;
      text-align: center;
      text-transform: none;
      display: block;
      margin-bottom: 0.5rem;
      letter-spacing: 0; }
    section#bid-ui form label#amount-label {
      width: 100%; }
    section#bid-ui form input {
      margin: auto 0 auto auto;
      padding: 0.25rem;
      text-align: center;
      min-width: 5ch;
      max-width: 6ch; }
    section#bid-ui form button {
      font-size: 1rem;
      width: max-content;
      margin: auto auto auto 1rem; }
  section#bid-ui div#instant-buy #instant-buy-info {
    margin-bottom: 0.5rem; }
  section#bid-ui div#register-login p {
    margin-bottom: 0.5rem; }
  section#bid-ui div#register-login #login, section#bid-ui div#register-login #register {
    width: max-content;
    margin: 0 auto 2rem; }
  section#bid-ui div#register-login #register {
    margin-bottom: 0; }

/* Bieten Formular }}}2*/
footer section {
  margin: 0 auto 3rem; }

/* Layout }}}*/
/* Links {{{*/
a {
  text-decoration: none; }

/* Links }}}*/
/* Colors {{{*/
/* default (light) mode {{{2*/
body {
  background: whitesmoke;
  color: black; }

a,
a:link,
a:visited {
  color: #6347eb; }

a:focus,
a:hover {
  color: #2b00ff; }

ul#admin-user-list li a:link,
ul#admin-user-list li a:visited,
ul#admin-article-list li a:link,
ul#admin-article-list li a:visited,
header a:link,
header a:visited, footer a:link,
footer a:visited {
  color: black; }

ul#admin-user-list li a:hover,
ul#admin-user-list li a:focus,
ul#admin-user-list li a:active,
ul#admin-article-list li a:hover,
ul#admin-article-list li a:focus,
ul#admin-article-list li a:active,
header a:hover,
header a:focus,
header a:active, footer a:hover,
footer a:focus,
footer a:active {
  color: #2b00ff; }

a.newsletter-signup {
  color: black;
  background: #5eeda6; }

a.newsletter-signup:hover {
  color: black;
  background: #33ff99; }

.contact-instagram-link:hover svg path {
  fill: #8080ff; }

.box-button {
  background: #5eeda6; }
  .box-button a {
    color: black; }

.box-button:hover,
#image-container p#auction-button:hover {
  background: #33ff99; }
  .box-button:hover a,
  #image-container p#auction-button:hover a {
    color: black; }

.top-secret,
.error-message {
  color: #66b814; }

form {
  color: black;
  background: #e6e6e6; }

form:focus-within {
  background: #e0e6eb; }

section#bid-ui {
  background: #e6e6e6; }
  section#bid-ui div#user-info {
    border-bottom: 1px solid #b3b3b3; }
  section#bid-ui form {
    background: transparent; }
    section#bid-ui form button {
      font-weight: 300; }

/* default (light) mode }}}2*/
/* dark mode {{{2*/
@media (prefers-color-scheme: dark) {
  .box-button,
  p.button,
  a.newsletter-signup p,
  #user-info h4,
  form label,
  form input,
  #bid-ui form button.box-button,
  footer .credits {
    font-weight: 200; }
  #bid-ui form input {
    font-weight: 300; }
  body {
    background: #121212;
    color: whitesmoke; }
  p a,
  p a:link,
  p a:visited,
  nav ul li a,
  nav ul li a:link,
  nav ul li a:visited {
    color: #6e6ef7; }
  p a:focus,
  p a:hover,
  nav ul li a:focus,
  nav ul li a:hover {
    color: #9999ff; }
  p.box-button,
  p.button {
    background: #4040bf; }
    p.box-button a,
    p.button a {
      color: whitesmoke; }
  p.box-button:hover,
  p.button:hover {
    background: #5252e0; }
    p.box-button:hover a,
    p.button:hover a {
      color: white; }
  a.newsletter-signup {
    color: whitesmoke;
    background: #4040bf;
    border: none; }
  a.newsletter-signup:hover {
    background: #5252e0;
    color: white; }
  .top-secret,
  .error-message {
    color: #d98026; }
  form {
    color: whitesmoke;
    background: #262626; }
    form input {
      background: #4d4d4d;
      color: white;
      border: #666666; }
    form .box-button,
    form button {
      background: #4040bf;
      color: whitesmoke; }
    form .box-button:hover,
    form button:hover {
      background: #5252e0;
      color: white; }
  form:focus-within {
    background: #252e37; }
  section#bid-ui {
    background: #262626;
    color: white; }
    section#bid-ui div#user-info {
      border-bottom: 1px solid #666666; }
    section#bid-ui form {
      background: transparent; }
  header h1 a:link,
  header h1 a:visited,
  ul#admin-user-list li a:link,
  ul#admin-user-list li a:visited,
  ul#admin-article-list li a:link,
  ul#admin-article-list li a:visited,
  footer a:link,
  footer a:visited {
    color: whitesmoke; }
  header h1 a:focus,
  header h1 a:hover,
  ul#admin-user-list li a:focus,
  ul#admin-user-list li a:hover,
  ul#admin-article-list li a:focus,
  ul#admin-article-list li a:hover,
  footer a:focus,
  footer a:hover {
    color: #9999ff; }
  svg path {
    fill: whitesmoke; }
  .contact-instagram-link:hover svg path {
    fill: #8080ff; } }

/* dark mode }}}2*/
/* Colors }}}*/
/* Lists {{{1*/
main ul {
  margin: 0 0 1rem;
  padding-left: 0;
  list-style-position: inside; }
  main ul li {
    padding-left: 0.3rem; }

/* Lists }}}1*/
/* Buttons {{{1*/
#image-container {
  position: relative;
  padding: 0; }
  #image-container p#auction-button {
    position: absolute;
    transform: rotate(-8deg);
    bottom: -0.5rem;
    left: 5%; }
  #image-container p#auction-button:hover {
    transform: rotate(-15deg) scale(1.1); }

p.button {
  display: inline-block;
  border-radius: 1rem;
  padding: .3rem 1rem .5rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out; }

p.button:hover {
  transform: scale(1.1); }

a.newsletter-signup {
  font-family: "InputSansNarrow", monospace;
  font-weight: 300;
  display: flex;
  margin: 0 auto 2rem;
  width: 9.5rem;
  height: 9.5rem;
  border-radius: 4.75rem;
  transform-origin: center center;
  transform: rotate(-12deg);
  transition: all 0.2s ease-in-out; }
  a.newsletter-signup p {
    transform: translateY(-0.0625rem);
    display: inline-block;
    margin: auto; }

a.newsletter-signup:hover {
  transform: scale(1.1) rotate(-15deg); }

.contact-instagram-link svg {
  transform: scale(1);
  transition: all 0.2s ease-in-out; }
  .contact-instagram-link svg path {
    transition: all 0.2s ease-in-out; }

.contact-instagram-link:hover svg {
  transform: scale(1.1); }

/* Buttons }}}1*/
/* bisher … {{{1*/
.username {
  text-transform: capitalize; }

/* Layout Basics (Mobile) */
main section {
  text-align: center;
  margin-bottom: 1.5em; }
  main section p {
    margin-bottom: 0; }

section#login {
  margin-bottom: 2em; }

.box-button {
  /* wie francoisenussbaumer.ch */
  display: inline-block;
  border: none;
  border-radius: 1rem;
  padding: .3rem 1rem .5rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out; }

.box-button:hover {
  transform: scale(1.1); }

/* wie francoisenussbaumer.ch */
ul {
  list-style: none;
  margin: 0;
  padding: 0; }

dd {
  margin: 0 0 0.5em 0; }

img {
  width: 100%;
  max-width: 600px;
  height: auto; }

form {
  display: inline-block;
  /* damit es nicht die gesamte Breite überspannt*/
  padding: 1rem;
  border-radius: 0.25rem; }

form input {
  box-sizing: border-box;
  font-family: "DomaineSansText", "DomaineSansTextTest-Light", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1em;
  font-weight: 300;
  display: block;
  /* Styles für Browser ohne Grid support */
  margin: 0 auto;
  margin-bottom: 0.25em; }

form input[type='password'],
form input[type='text'],
form input[type='email'],
form input[type='textarea'] {
  box-sizing: border-box;
  /* Neu August 19 */
  font-family: "InputSansNarrow", monospace;
  font-size: 0.7rem;
  padding: 0.25rem; }

form#delete-form {
  width: 100%; }

form#delete-form button {
  display: block; }

/* GRID */
@supports (display: grid) {
  dt,
  dd {
    margin: 0;
    padding: 0; }
  /* Keine Abstände in Aufzählungen, weil meist (immer?) display: grid */
  /* Anmelden {{{2*/
  section#login,
  section#register,
  section#registration {
    display: grid;
    grid-template-columns: 1fr minmax(auto, 400px) 1fr; }
  section#login,
  section#register,
  section#registration {
    /* Einmitten */
    /* End Form */ }
    section#login h2, section#login p, section#login form,
    section#register h2,
    section#register p,
    section#register form,
    section#registration h2,
    section#registration p,
    section#registration form {
      grid-column: 2;
      width: 100%;
      margin: 0 0 1rem;
      justify-self: center; }
    section#login form,
    section#register form,
    section#registration form {
      display: grid;
      grid-template-columns: 1fr; }
      section#login form label,
      section#register form label,
      section#registration form label {
        text-align: left; }
      section#login form input,
      section#register form input,
      section#registration form input {
        width: 100%;
        margin-bottom: 1rem; }
      section#login form input[type='submit'],
      section#register form input[type='submit'],
      section#registration form input[type='submit'] {
        margin: 1rem auto 0;
        width: auto; }
  /* End Section Login/Register/Registration }}}2*/
  /* Bild erfassen */
  form#article-create-form {
    display: grid;
    grid-template-columns: 1fr auto auto 1fr;
    justify-items: stretch;
    grid-gap: 0.25em; }
  form#article-create-form label {
    grid-column: 2;
    align-self: center;
    justify-self: end; }
  form#article-create-form input {
    grid-column: 3;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: "InputSansNarrow", monospace;
    font-size: 0.7rem; }
  /* Administration: Bild-Details*/
  dl#admin-details {
    margin-top: 2em;
    display: grid;
    grid-template-columns: 1fr auto auto 1fr;
    grid-gap: 0.25em; }
  dl#admin-details dt,
  dl#admin-details dd {
    margin: 0;
    padding: 0; }
  dl#admin-details dt {
    grid-column: 2;
    justify-self: end; }
  dl#admin-details dd {
    grid-column: 3;
    justify-self: start; }
  /* Administration: Auflistung Bilder und User */
  ul#admin-user-list,
  ul#admin-article-list {
    display: flex;
    flex-direction: column-reverse;
    align-items: start;
    margin: 0 auto; }
  ul#admin-user-list li,
  ul#admin-article-list li {
    margin: 0;
    padding: 0; }
  ul#admin-user-list li:before,
  ul#admin-article-list li:before {
    content: '– '; }
  /* Administration: Gebote (und Details User) */
  dl#admin-bid-list,
  dl#admin-bid-details,
  dl#admin-bid-delete,
  dl#admin-user-details {
    display: grid;
    grid-template-columns: 1fr auto auto 1fr;
    grid-gap: 0.25em; }
  dl#admin-bid-list dt,
  dl#admin-bid-details dt,
  dl#admin-bid-delete dt,
  dl#admin-user-details dt {
    grid-column: 2; }
  dl#admin-bid-list dd,
  dl#admin-bid-details dd,
  dl#admin-bid-delete dd,
  dl#admin-user-details dd {
    grid-column: 3; }
  dl#admin-bid-list dt,
  dl#admin-bid-details dt,
  dl#admin-bid-delete dt,
  dl#admin-user-details dt {
    justify-self: end; }
  dl#admin-bid-list dd,
  dl#admin-bid-details dd,
  dl#admin-bid-delete dd,
  dl#admin-user-details dd {
    justify-self: start; } }

/**/
/* Media Queries */
@media (min-width: 500px) {
  /* Desktop Text Sizes {{{2*/
  /* august 19 */
  :root {
    font-size: 125%; }
  h1 {
    font-size: 1.8rem; }
  header {
    margin-bottom: 2em; }
  #user-info h4,
  form label {
    font-size: 0.5rem; }
  /* august 19 */
  /* Desktop Text Sizes }}}2*/
  /* Layout {{{2*/
  body {
    padding: 1rem 3rem 0; }
  main {
    max-width: 40rem; }
  main #content,
  footer {
    max-width: 32rem;
    padding: 0; }
  main section#bid-ui {
    max-width: 25rem;
    margin: 0 auto 1.5rem; }
  footer section {
    margin: 0 auto 3rem; }
  /* Layout }}}2*/ }

/* bisher … }}}1*/
