@charset "UTF-8";
/* Variables {{{*/
/* Input gibts 500, 300 und 200 */
/* Alles viel zu kompliziert, oder? */
/* Alles viel zu kompliziert, oder? */
/* Alles viel zu kompliziert, oder? */
/* Alles viel zu kompliziert, oder? */
/* Variables }}}*/
/* Root/Body {{{*/
:root {
  font-family: "DomaineSansTextTest-Light", "DomaineSansText", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 300;
  font-size: 100%;
  line-height: 1.3;
  font-variant-numeric: oldStyle-nums;
  text-align: center; }

*, html {
  box-sizing: border-box; }

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1rem 0.5rem 0; }

/* Root/Body }}}*/
/* Font Sizes {{{*/
h1 {
  font-size: 1.25rem;
  line-height: 1; }

footer .credits {
  font-size: 0.6875rem; }

/* Font Sizes }}}*/
/* Font Styles {{{*/
h1, h2, h3, h4, h5, h6, strong {
  font-weight: 500; }

h1 {
  font-variant-caps: all-small-caps; }

h2 {
  margin: 0 0 2rem; }

p, li, figcaption {
  font-weight: 300; }

e3, h4, h5, p, figcaption {
  margin: 0 0 1rem; }

.smallcaps {
  font-variant-caps: all-small-caps; }

footer .credits {
  font-family: "InputSans-Light", "InputSansNarrow", monospace;
  font-weight: 300; }

em {
  color: red; }

/* Font Styles }}}/*

/* Layout {{{*/
header, main {
  width: 100%; }

nav {
  display: none; }

/* Navigation, only for dev */
header {
  margin: 2.25rem auto 2.5rem; }

main {
  margin: 0 1rem 3rem; }

main img {
  max-width: 100%;
  margin-bottom: 1rem; }

section#register-login {
  display: flex;
  flex-direction: column; }
  section#register-login p.box-button {
    margin: auto; }
  section#register-login p#register {
    margin-bottom: 1rem; }

footer section {
  margin: 0 auto 3rem; }

/* Layout }}}*/
/* Links {{{*/
a {
  text-decoration: none; }

/* Links }}}*/
/* Colors {{{*/
body {
  background: whitesmoke;
  color: black; }

a,
a:link,
a:visited {
  color: #6347eb; }

a:focus,
a:hover {
  color: #2b00ff; }

header a:link,
header a:visited, footer a:link,
footer a:visited {
  color: black; }

header a:hover,
header a:focus,
header a:active, footer a:hover,
footer a:focus,
footer a:active {
  color: #2b00ff; }

a.newsletter-signup {
  color: black;
  background: #5eeda6; }

a.newsletter-signup:hover {
  color: black;
  background: #33ff99; }

.contact-instagram-link:hover svg path {
  fill: #8080ff; }

.box-button {
  background: #5eeda6; }
  .box-button a {
    color: black; }

.box-button:hover,
#image-container p#auction-button:hover {
  background: #33ff99; }
  .box-button:hover a,
  #image-container p#auction-button:hover a {
    color: black; }

form {
  background: #e6e6e6; }

form:focus-within {
  background: #e0e6eb; }

/* Colors }}}*/
/* Lists {{{1*/
main ul {
  margin: 0 0 1rem;
  padding-left: 0;
  list-style-position: inside; }
  main ul li {
    padding-left: 0.3rem; }

/* Lists }}}1*/
/* Buttons {{{1*/
#image-container {
  position: relative;
  padding: 0; }
  #image-container p#auction-button {
    position: absolute;
    transform: rotate(-8deg);
    bottom: -0.5rem;
    left: 5%; }
  #image-container p#auction-button:hover {
    transform: rotate(-15deg) scale(1.1); }

p.button {
  font-family: "Input Sans Narrow", monospace;
  font-weight: 300;
  display: inline-block;
  border-radius: 1rem;
  margin: 1rem auto;
  padding: .3rem 1rem .5rem;
  text-align: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out; }

p.button:hover {
  transform: scale(1.1); }

a.newsletter-signup {
  font-family: "Input Sans Narrow", monospace;
  font-weight: 300;
  display: flex;
  margin: 0 auto 2rem;
  width: 9.5rem;
  height: 9.5rem;
  border-radius: 4.75rem;
  transform-origin: center center;
  transform: rotate(-12deg);
  transition: all 0.2s ease-in-out; }
  a.newsletter-signup p {
    transform: translateY(-0.0625rem);
    display: inline-block;
    margin: auto; }

a.newsletter-signup:hover {
  transform: scale(1.1) rotate(-15deg); }

.contact-instagram-link svg {
  transform: scale(1);
  transition: all 0.2s ease-in-out; }
  .contact-instagram-link svg path {
    transition: all 0.2s ease-in-out; }

.contact-instagram-link:hover svg {
  transform: scale(1.1); }

/* Buttons }}}1*/
/* bisher … {{{1*/
.username {
  text-transform: capitalize; }

.top-secret,
.error-message {
  color: #66b814; }

/* Layout Basics (Mobile) */
main section {
  text-align: center;
  margin-bottom: 0.5em; }

/*
main h2 { margin-bottom: 0.5em; } // Titel "Auktion", Titel Registrierung und Login
**/
section#article-details {
  margin-bottom: 2em; }

section#article-details p#description {
  margin-bottom: 2em; }

section#bid-ui,
section#bid-list {
  margin-bottom: 2em; }

section#bid-list ul#article-bids {
  list-style: none; }

section#login {
  margin-bottom: 2em; }

.box-button {
  /* wie francoisenussbaumer.ch */
  font-family: "Input Sans Narrow", monospace;
  font-weight: 300;
  display: inline-block;
  border: none;
  border-radius: 1rem;
  margin: 1rem auto;
  padding: .3rem 1rem .5rem;
  text-align: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out; }

.box-button:hover {
  transform: scale(1.1); }

/* wie francoisenussbaumer.ch */
p#instant-buy {
  margin: 0.5em 0 2em; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

dd {
  margin: 0 0 0.5em 0; }

img {
  width: 100%;
  max-width: 600px;
  height: auto;
  padding: 0.5em;
  background: #e2e7e9;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.2); }

form {
  display: inline-block;
  /* damit es nicht die gesamte Breite überspannt*/
  padding: 1rem;
  border-radius: 0.25rem; }

form label,
form button,
form input {
  box-sizing: border-box;
  font-family: "DomaineSansTextTest-Light", "DomaineSansText", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1em;
  font-weight: 300;
  display: block;
  /* Styles für Browser ohne Grid support */
  margin: 0 auto;
  margin-bottom: 0.25em; }

form input[type="password"],
form input[type="text"],
form input[type="email"],
form input[type="textarea"] {
  box-sizing: border-box;
  /* Neu August 19 */
  font-family: "InputSans-Light", "InputSansNarrow", monospace;
  font-size: 0.7rem;
  padding: 0.25rem; }

form label {
  display: inline;
  text-align: right;
  float: left;
  padding-right: 0.25em; }

/*
form button {
  background: transparent;
  cursor: pointer;
  color: $col;
  // margin-top: 0;
}
august 19:  scheint irrelevant

form input[type="submit"] {
  margin-top: 2em;
  font-size: 1em;
}
*/
form#delete-form {
  width: 100%; }

form#delete-form button {
  display: block; }

/* GRID */
@supports (display: grid) {
  dt,
  dd {
    margin: 0;
    padding: 0; }
  /* Keine Abstände in Aufzählungen, weil meist (immer?) display: grid */
  /* Bieten Formular {{{2*/
  section#bid-ui {
    display: grid;
    grid-gap: 0.5em;
    grid-template-columns: 1fr  3.5fr 1fr; }
  section#bid-ui h2 {
    /* Bieten/Angebot beendet */
    grid-column: 1/-1; }
  section#bid-ui p {
    /* Aufforderung zum Anmelden, Text bei Angebotsende */
    grid-row: 2;
    grid-column: 1/-1; }
  section#bid-ui p#instant-buy {
    margin: 0;
    grid-column: 2;
    grid-row: 3; }
  section#bid-ui form {
    grid-row: 2;
    grid-column: 2/3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.5em; }
  section#bid-ui form label {
    grid-column: 1;
    text-align: right;
    align-self: center;
    /* gleich ausrichten wie Zahl */
    /* Aufheben bisheriger Regeln */
    margin: 0;
    float: none;
    padding-right: 0; }
  section#bid-ui form input {
    margin: 0;
    width: 100%;
    grid-column: 2; }
  section#bid-ui form button {
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    grid-column: 1/-1; }
  section#bid-list ul {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    /* Breitmöglichst auf schmalen Viewports */
    justify-items: start; }
  section#bid-list ul li {
    grid-column: 2;
    white-space: nowrap; }
  /* Bieten Formular }}}2*/
  /* Anmelden {{{2*/
  section#login,
  section#register,
  section#registration {
    display: grid;
    grid-template-columns: 1fr minmax(auto, 400px) 1fr; }
  section#login,
  section#register,
  section#registration {
    /* Einmitten */
    /* End Form */ }
    section#login h2, section#login p, section#login form,
    section#register h2,
    section#register p,
    section#register form,
    section#registration h2,
    section#registration p,
    section#registration form {
      grid-column: 2;
      width: 100%;
      margin: 0 0 1rem;
      justify-self: center; }
    section#login form,
    section#register form,
    section#registration form {
      display: grid;
      grid-template-columns: 1fr; }
      section#login form label,
      section#register form label,
      section#registration form label {
        text-align: left;
        margin: 0;
        padding: 0; }
      section#login form input,
      section#register form input,
      section#registration form input {
        width: 100%;
        margin-bottom: 1rem; }
      section#login form input[type="submit"],
      section#register form input[type="submit"],
      section#registration form input[type="submit"] {
        margin: 1rem auto 0;
        width: auto; }
  /* End Section Login/Register/Registration }}}2*/
  /* Bild erfassen */
  form#article-create-form {
    display: grid;
    grid-template-columns: 1fr auto auto 1fr;
    justify-items: stretch;
    grid-gap: 0.25em; }
  form#article-create-form label {
    grid-column: 2;
    margin: 0;
    padding: 0;
    align-self: center; }
  form#article-create-form input {
    grid-column: 3;
    width: 100%;
    margin: 0;
    padding: 0; }
  /* Administration: Bild-Details*/
  dl#admin-details {
    margin-top: 2em;
    display: grid;
    grid-template-columns: 1fr auto auto 1fr;
    grid-gap: 0.25em; }
  dl#admin-details dt,
  dl#admin-details dd {
    margin: 0;
    padding: 0; }
  dl#admin-details dt {
    grid-column: 2;
    justify-self: end; }
  dl#admin-details dd {
    grid-column: 3;
    justify-self: start; }
  /* Administration: Auflistung Bilder und User */
  ul#admin-user-list,
  ul#admin-article-list {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-gap: 0.25em; }
  ul#admin-user-list li,
  ul#admin-article-list li {
    margin: 0;
    padding: 0;
    grid-column: 2; }
  ul#admin-user-list li:before,
  ul#admin-article-list li:before {
    content: "– "; }
  /* Administration: Gebote (und Details User) */
  dl#admin-bid-list,
  dl#admin-bid-details,
  dl#admin-bid-delete,
  dl#admin-user-details {
    display: grid;
    grid-template-columns: 1fr auto auto 1fr;
    grid-gap: 0.25em; }
  dl#admin-bid-list dt,
  dl#admin-bid-details dt,
  dl#admin-bid-delete dt,
  dl#admin-user-details dt {
    grid-column: 2; }
  dl#admin-bid-list dd,
  dl#admin-bid-details dd,
  dl#admin-bid-delete dd,
  dl#admin-user-details dd {
    grid-column: 3; }
  dl#admin-bid-details dt,
  dl#admin-bid-delete dt,
  dl#admin-user-details dt {
    justify-self: end; }
  dl#admin-bid-details dd,
  dl#admin-bid-delete dd,
  dl#admin-user-details dd {
    justify-self: start; } }

/* Media Queries */
@media (min-width: 500px) {
  /* Desktop Text Sizes {{{2*/
  /* wie francoisenussbaumer.ch*/
  :root {
    font-size: 125%; }
  h1 {
    font-size: 1.8rem; }
  header {
    margin-bottom: 2em; }
  /* wie francoisenussbaumer.ch*/
  /* Desktop Text Sizes }}}2*/
  /* Layout {{{2*/
  body {
    padding: 1rem 3rem 0; }
  main {
    max-width: 40rem; }
  main #content,
  footer {
    max-width: 32rem;
    padding: 0; }
  /* Desktop Form Layout {{{3*/
  form {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 0.25em; }
    form label {
      grid-column: 1;
      align-self: center;
      margin: 0;
      padding: 0; }
    form input {
      width: 100%; }
    form input[type="submit"] {
      grid-column: 1/-1;
      margin: 1rem auto 0;
      width: auto; }
  /* Desktop Form Layout }}}3 */
  /* Layout }}}2*/
  section#bid-ui {
    grid-template-columns: 1fr 1fr 1fr; } }

/* bisher … }}}1*/
